<ion-header>
  <ion-toolbar>
    <ion-title>📊 Progreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen del día</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>✔ Tareas completadas: 2</p>
      <p>⏳ Tareas pendientes: 3</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <p>Progreso general</p>

      <ion-progress-bar value="0.5"></ion-progress-bar>

    </ion-card-content>
  </ion-card>

</ion-content>
