<ion-header>
  <ion-toolbar>
    <ion-title>⚙️ Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content style="text-align:center;">
      <h2>Mi App de Tareas 🚀</h2>
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label>🌙 Modo oscuro</ion-label>
      <ion-toggle (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>

    <ion-button expand="block" (click)="mostrarNotificacion()">
      Activar notificación
    </ion-button>

  </ion-list>

</ion-content>